
h1 {
/*
    color: aquamarine;
    color: rgb(red, green, blue);
    color: rgba(red, green, blue, alpha);
    */
    color: #0022ff;
    background-color: antiquewhite;
    font-size: 40px;
}

h2 {
    font-size: 40px;
}

h1, h2 {
    font-weight: 400;
}

/*follback*/
li {
    
}